body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
  color: #ffffff;
  font-family: monospace;
}

p {
  color: #ffffff;
  font-family: monospace;
  font-size: large;
}

.top-container {
  background-color: #209cee;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  width: 200px;
  height: 200px;
  background-color: red;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}